.container-center {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 1% 5% 1%;
}
.border-bottom {
    border-bottom: 2px solid rgb(100,100,100);
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between {
    justify-content: space-between;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0%;
}